@import "../../Common/Styles/sass/_variables.scss";
@import "../../Common/Styles/sass/mixins";

.skill {
  width: 450px;
  min-height: 200px;
  background-color: #1f1f20;
  text-align: center;
  @include flex(column, space-between, center, wrap);
  margin-bottom: 10px;
  @media screen and (max-width: 564px) {
    width: 350px;
  }
  &:hover {
    background-image: -webkit-gradient(linear,left top,right top,from(#a2db70),to($primaryColor));
    background-image: -webkit-linear-gradient(left,#a2db70,$primaryColor);
    background-image: linear-gradient(90deg,#a2db70, $primaryColor);
    transform: translateY(-5px);
    transition: 0.3s;
    .icon {
      color: $bgSecondColor;
    }
    h3 {
      color: $bgSecondColor;
    }
    p {
      color: $textColor;
    }
  }

  .icon {
    width: 60px;
    height: 60px;
    background-color: $bgSecondColor;
    transform: rotate(45deg);
    @include flex(row, center, center, nowrap);
    margin: 20px 0;

    .img {
      font-size: 30px;
      color: $primaryColor;
      transform: rotate(-45deg)
    }
  }

  h3 {
    @include text($titleFontFamily, 1.15rem, 500, 1.2, $textColor);
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .description {
    @include text(sans-serif, 1rem, 400, 1.5, #dee3e4);
    @include flex(row, center, center, wrap);
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}


