@import "./sass/mixins";

.container {
    height: 100%;
    @include container();
    @include flex(row, space-between, center, row);

    @media screen and (max-width: 885px) {
        justify-content: center;
        flex-direction: column;
    }
}

