.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    @media screen and (max-width: 753px) {
        justify-content: center;
    }
}

