@import "../common/styles/sass/variables";

@media screen and (max-width: 885px){
    .desktop{
        display: none;
    }
}

@media screen and (min-width: 885px){
    .mobile{
        display: none;
    }
}

.header {
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: $bgSecondColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    .burger {
        font-size: 30px;
        margin-left: 15px;
        cursor: pointer;
        color: $textColor;
    }
}