@import "../../Common/Styles/sass/variables";
@import "../../Common/Styles/sass/mixins";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-left: 18px;

  .active{
    color: $primaryColor;
  }

  a {
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    @include text($titleFontFamily, 1rem, 300, 1.2, hsla(0, 0%, 98%, .9));

    &:hover {
      color: $primaryColor;
      transform: translateY(-5px);
      transition: 0.5s;
    }
  }
}