.footer {
   padding: 80px 0;
    background-color: #1f1f20;
    height: 50vh;
}
.footerContainer {
    flex-direction: column;
    flex-wrap: wrap;
}
.title {
    font-family: Poppins,sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 2rem;
    color: #fff;
}
.contactContainer {
    display: flex;
    gap: 10px;
}
.contact {
    height: 50px;
    width: 50px;
    background-color: darkgrey;
}

@media screen and (max-width: 753px){
    .title{
        margin-bottom: 50px;
    }
}