.contacts {
    background-color: #4c4d4d;
}
.contactsContainer {
    flex-direction: column;
}

.contactsForm {
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 15px;
    flex-wrap: wrap;
}
.input {
    height: 30px;
    width: 100%;
}
.text {
    height: 70px;
    width: 100%;
}
.btn {
    padding: 10px 20px;
}